# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/

# IDEs
.idea/
*.iml

# Database, overal genegeerd
*.db



# Logs in elke submap
**/logs/
*.log


# Environment Variables
.env

# Build directories
build/
dist/
*.egg-info/

# Other
*.swp
data.zip

"src/config/peak_state.yaml" 

src/ai/local_gpt_config.py
